@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iceland', cursive;
}

body{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size:larger;
    color: white;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav{
    background-color: #4b6cb7;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}

#contenedor{
    height: 100%;
    width: 100%;
}

form{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}

label{
    padding: 1px;
}

footer{
  margin-top: 10rem;
}

.boton{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
}

fieldset{
  width:80%;
  padding-top: 60px;
  padding-bottom: 60px;
}

fieldset label{
  padding-left: 15px;
}
  
/*nombre*/
.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 190px;
  }
  
  .form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px #fff solid;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #fff;
  }
  
  .form-control input:focus,
  .form-control input:valid {
    outline: 0;
    border-bottom-color: lightblue;
  }
  
  .form-control label {
    position: absolute;
    top: 15px;
    left: 0;
    pointer-events: none;
  }
  
  .form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    color: #fff;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .form-control input:focus+label span,
  .form-control input:valid+label span {
    color: rgb(0, 9, 12);
    transform: translateY(-30px);
  }
  /*/nombre*/


  /*Botones*/
  .input {
    background-color: #c4c4c4;
    max-width: 190px;
    height: 40px;
    padding: 10px;
    /* text-align: center; */
    border: 2px solid white;
    border-radius: 5px;
    /* box-shadow: 3px 3px 2px rgb(249, 255, 85); */
  }
  
  .input:focus {
    color: rgb(0, 0, 0);
    background-color: #e4dfdf;
    outline-color: rgb(0, 255, 255);
    box-shadow: -3px -3px 15px rgb(0, 255, 255);
    transition: .1s;
    transition-property: box-shadow;
  }
  /*/Botones*/


  #n{
    transition:150ms;
  }

  #o{
    transition:200ms;
  }

  #m{
    transition:250ms;
  }

  #b{
    transition:300ms;
  }

  #r{
    transition:350ms;
  }

  #e{
    transition:500ms;
  }

  @media (max-width:500px) {

    fieldset{
      width:60%;
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    fieldset label{
      padding: 15px;
    }

    

  }
  
  @media (max-width:700px) {

    fieldset{
      width:70%;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    fieldset label{
      padding: 0px;
    }

    
      
  }