
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iceland', cursive;
    text-align: justify;
}

html{
    scroll-behavior: smooth;
}

#contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
    /*grid-template-rows: auto;*/
     grid-template-areas: 
     "header header"
     "nav nav"
     "aside main"
     "footer footer";
     height: 100vh;
}

body{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header{
    grid-area: header;
    display:flex;
    justify-content: space-between;
    background-image: url(../fuentesyFotos/logo.png);
    background-repeat: no-repeat;
    background-position: 100% 25%;
    height: 50vh;
}

h1{
    padding: 5px;
    color: white;
    font-size: 7rem;
}

h2{
    padding: 5px;
    color: white;
}

nav{
    grid-area: nav;
    background-color: #4b6cb7;
    padding-top: 10px;
    padding-bottom: 10px;
}

aside{
    grid-area: aside;
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    padding: 10px;
    border-radius: 5%;
}

#main{
    grid-area: main;
    padding: 15px;
}

div p{
    padding: 10px;
    font-size:larger;
    color: white;
}

footer{
    grid-area: footer;
    margin-top:7rem;
}

nav a{
    font-size: larger;
}

a{
    text-decoration: none;
    color: white;
}

p a:hover{
    background-color: white;
    color: black;
}

ul li a:hover{
    background-color: white;
    color: black;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

img{
    width: 50%;
    height: 50%;
    aspect-ratio: 4/3;
    object-fit: contain;
    padding: 1px;
    
}

.contendorIMG{
    position: relative;
}

/*li{
    border: 1px solid red;
}*/

#imagenes{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 5rem;
    column-gap: 5rem;
}

.cajaImg{
    overflow: hidden;
    border: 1px solid white;
    border-radius: 5%;
}

/*.peque{
    height: 50%;
}*/

@media (max-width:500px) {
    #contenedor{
        display: grid;
        grid-template-columns: 100%;
        /*grid-template-rows: auto;*/
         grid-template-areas: 
         "header"
         "nav"
         "aside"
         "main"
         "footer";
         height: 100vh;
    }

    #imagenes{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 5rem;
        column-gap: 5rem;
    }

    footer{
        font-size: small;
    }

    h1{
        font-size: 2rem;
    }

    header{
        grid-area: header;
        display:flex;
        justify-content: space-between;
        background-image: url(../fuentesyFotos/logo.png);
        background-repeat: no-repeat;
        background-position: 100% 25%;
        height: 30vh;
    }

}


@media (max-width:700px) {
    #contenedor{
        display: grid;
        grid-template-columns: 100%;
        /*grid-template-rows: auto;*/
         grid-template-areas: 
         "header header"
         "nav nav"
         "aside aside"
         "main main"
         "footer footer";
         height: 100vh;
    }

    h1{
        font-size: 5rem;
    }

    header{
        grid-area: header;
        display:flex;
        justify-content: space-between;
        background-image: url(../fuentesyFotos/logo.png);
        background-repeat: no-repeat;
        background-position: 100% 25%;
        height: 25vh;
    }

    
}