@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iceland', cursive;
}

/*
#contenedor{
    display: grid;
    grid-template-columns: 30% 70%;
    /*grid-template-rows: auto;
     grid-template-areas: 
     "header header"
     "nav nav"
     "aside main"
     "footer footer";
     height: 100vh;
}
*/
body{
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size:large;
}

ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

nav{
    background-color: #4b6cb7;
    padding-top: 10px;
    padding-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    background-color: white;
    color: black;
}

#contenedor{
    height: 100%;
    width: 100%;
}

p,h1{
    color: white;
}